window#waybar {
	all: unset;
}

.modules-left {
	margin: 10px 0px 10px 10px;
	padding: 8px 12px;
	border-radius: 8px;
	background: #282828;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border: 1px solid #e6ddb9;
	color: #e6ddb9;
}

.modules-center {
	margin: 10px 0px 10px 10px;
	padding: 8px 12px;
	border-radius: 8px;
	background: #282828;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border: 1px solid #e6ddb9;
	color: #e6ddb9;
}

.modules-right {
	margin: 10px 0px 10px 10px;
	padding: 8px 12px;
	border-radius: 8px;
	background: #282828;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border: 1px solid #e6ddb9;
	color: #e6ddb9;
}

#workspaces button {
	all: unset;
	margin: 0px 5px;
	padding: 6px 0px;
	color: #3c3836;
	background: #3c3836;
	border-radius: 100%;
}

#workspaces button.active {
	color: #b8bb26;
	background: #b8bb26;
}
